@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-animation {
  z-index: 10;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.15);
    z-index: 1000000;
    /* box-shadow: 0 8px 32px 0 rgba(135, 130, 31, 0.37); */
    backdrop-filter: blur(190px);
    -webkit-backdrop-filter: blur(2px);
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
  }
  